# Лог
log.txt
admin_log.txt

# snap2txt файлы
project_contents.txt

# Папки виртуальных окружений
venv/
.venv/
env/
ENV/

# Кэш
__pycache__/
*.pyc
*.pyo

# Настройки IDE
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Pyinstaller
*.spec
dist/
build/